.layout {
    background-size: cover;
    background-position: bottom;
    background-color: cadetblue;
}

.day {
    background-image: url('../../img/weather-day.jpg');
}

.night {
    background-image: url('../../img/weather-night.jpg');
}

@media screen and (max-width: 750px) {
    .layout {
        background-size: cover;
        background-position: bottom;
        max-height: 600px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        -webkit-box-shadow: 0px 6px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 6px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 6px 8px 0px rgba(34, 60, 80, 0.2);
    }
}