* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-shadow: 1px 1px 1px #000000;
}

body {
  font-family: 'monseratt', sans-serif;
}

.search-box {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.247);
}

.app-wrapper {
  margin-top: 40px;
}

footer {
  padding-bottom: 20px;
}