.weather-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    color: #FFF;
    text-align: center;
    width: 90vw;

    .weather-temp {
        display: flex;
        flex-direction: row;
        gap: 10px;

        h2 {
            font-size: 100px;
            font-weight: lighter;
            text-shadow: 1px 1px 1px #000000;
        }

        .weather-buttons {
            display: flex;
            flex-direction: column;
            gap: 5px;

            button {
                border: none;
                background: transparent;
                color: #FFF;
                font-size: 20px;
                color: gray;
                text-shadow: 1px 1px 1px #000000;

                &:hover {
                    cursor: pointer;
                }

                &:disabled {
                    cursor: default;
                    color: #FFF;
                }
            }
        }
    }

    .weather-main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
        flex-wrap: wrap;
        width: 50%;
        margin-top: 20px;

        .weather-description {
            display: flex;
            flex-direction: column;
            line-height: 20px;
        }
    }

    

    @media screen and (max-width: 1920px) and (min-width: 900px) {
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}