.weather-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    color: #FFF;
    text-align: center;
    width: 90vw;

    .weather-temp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        
        .weather-temp__degree {
            display: flex;
            gap: 10px;
            justify-content: center;
            h2 {
                font-size: 100px;
                font-weight: lighter;
            }
            
        }

        h3 {
            font-size: 35px;
            font-weight: lighter;
        }

        .weather-buttons {
            display: flex;
            flex-direction: column;
            gap: 5px;

            button {
                border: none;
                background: transparent;
                color: #FFF;
                font-size: 20px;
                color: gray;

                &:hover {
                    cursor: pointer;
                }

                &:disabled {
                    cursor: default;
                    color: #FFF;
                }
            }
        }
    }

    .weather-main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
        flex-wrap: wrap;
        width: 50%;
        margin-top: 20px;

        .weather-description {
            display: flex;
            flex-direction: column;
            line-height: 20px;
        }
    }

    

    @media screen and (max-width: 1920px) and (min-width: 900px) {
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    @media screen and (max-width: 900px) {
        .weather-temp {
        h3 {
            font-size: 31px;
            font-weight: lighter;
        }
    }
    }

}